*{
	margin: 0;
	padding: 0;
}

.product-small-img{
	height: 92px;
	margin: 10px 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.product-small-img img{
	width: 100px;
	height: 100px;
		opacity: .6;
}
.product-small-img img:hover{
	opacity: 1;
}

.img-container{
	position: absolute;
	left: 150px;
}

.img-container img{
	width: 500px;
	height: 500px;
}